{% assign tmp = page.category|truncate:9,'' %}

{% if page.type == "main" %}

<div id="sidetab" class="sidetab">
<h2>My Projects:</h2>
{% assign pages_list = site.pages %}
{% assign tab_type = 'projects' %}
{% include tabs_list %}
</div>

<hr />

<div id="sidetab" class="sidetab">
<h2>Posts by Tag:</h2>
<div class="tag-cloud">
   {% for tag in site.tags %}
      <a href="#posts-tag" id="{{ forloop.index }}" class="__tag" style="margin: 5px">{{ tag[0] }}</a>
      <ul id="list_{{ forloop.index }}" style="display:none;">
         {% for post in tag[1] %}
            <li><a href="{{BASE_PATH}}{{ post.url }}">{{ post.title }}</a></li>
         {% endfor %}
      </ul>
   {% endfor %}
</div>
<div id ="posts-tags" class="post-list">
</div>
</div>

{% elsif page.categories contains "nucsubs" %}

<div id="sidebar" class="sidebar">
  <h4>{{page.title}}</h4>
  <ul>
    {% assign pages_list = site.categories.nucsubs %}  
    {% include JB/pages_list %}
  </ul>
</div>

{% elsif tmp == 'slt_net' or tmp == 'bndplugin' or tmp == 'gogit' %}

<div id="sidebar" class="sidebar">
  <h4>Contents</h4>
  <ul>
    {% assign pages_list = site.categories[{{page.category}}] %}  
    {% include JB/pages_list %}
  </ul>
</div>

{% endif %}

{% assign tmp = "" %}
