---
layout: with-nav
type: mewmew
---
{% include JB/setup %}


<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-9 centered">
      <div class="jumbotron">
        <h1>Sweetie Dee</h1>
        <small>a.k.a. Trotskee Dee, Lil Dee, Silly Sill, Princess Mononoke, &amp; kitteh</small>
      </div>  
      <div class="row">
        <div class="col-xs-6 col-lg-4">
          <img class="fit" src="/assets/mewmew/meme-dee.png" />
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <img class="fit" src="/assets/mewmew/model-dee.png" />
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <img class="fit" src="/assets/mewmew/profile-dee.png" />
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <img class="fit" src="/assets/mewmew/suitcase-dee.png" />
        </div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
          <img class="fit" src="/assets/mewmew/sleepy-dee.png" />
        </div><!--/.col-xs-6.col-lg-4-->
      </div>
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->

</div><!--/container-->
